<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlueHill</title>
</head>
<script src="/socket.io/socket.io.js"></script>

<script src='/asset/js/jquery-3.3.1.min.js'></script>
<link rel="stylesheet" href="/asset/css/style.css">
<body>




<div class="mainDiv">

<div class="video">
<video id="vdoDisplay" class="video" autoplay>This is Vdo</video>
</div>


</div>







</body>

<script src='/asset/js/effectFunction.js'></script>

</html>